/* Global */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --desktopSize: 1300px;
    --blueCol: #00597e;
    --bblue: #00597e;
    --gardient: linear-gradient(150deg, #32b9f0 10%, rgba(0, 89, 126, 1) 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bblue);
}

.section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.section-content {
    width: 100%;
    padding: 0px 150px;
    z-index: 2;
    /* border:1px solid red; */
}

.section-content h2 {
    font-size: 40px;
    display: flex;
    align-items: center;
    color: var(--blueCol);
}

.nothero {
    margin-top: 100px;
}

.nothero h2::before {
    content: "";
    display: flex;
    position: relative;
    width: 70px;
    height: 5px;
    background: var(--gardient);
    margin: 0px 20px 0px 0px;
    border-radius: 4px;
}

.nothero p {
    font-size: 18px;
    line-height: 35px;
    padding: 30px 90px;
}

/* Header */
header {
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    padding: 0px 150px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .2s;
}

.logo-container a:hover {
    opacity: .7;
}

.logo-container p {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.logo-container img {
    width: 80px;
}


/* Hero section */
#hero {
    background: var(--gardient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-img img {
    padding: 0px 100px;
    width: 100%;
    opacity: .4;
    position: absolute;
    bottom: 0;
    left: 0px;
    filter: brightness(0) invert(1);
}


#hero .section-content {
    color: #fff;
}

#hero h2 {
    font-size: 70px;
    line-height: 90px;
    color: #fff;
    display: unset;
}

#hero p {
    font-size: 18px;
    max-width: 600px;
    margin: 30px 0px 60px;
}

#hero a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: .2s;
}

#hero .contactBtn {
    transition: .2s;
}

#hero .contactBtn:hover {
    background-color: white;
    color: black;
}


/* About us */

#about {
    /* background-color: #FEFEFF; */
    color: #fff;
}

#about h2 {
    color: #fff;
}

.services-container {
    display: flex;
    align-items: center;
    margin: 30px 90px;
    gap: 30px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    border-radius: 4px;
    border: 2px solid #008BA5;
    overflow: hidden;
    padding: 30px;
}

.service img {
    width: 100%;
    width: auto;
    height: 200px;
    border-radius: 4px;
    margin-left: 20px;
    filter: hue-rotate(10deg) saturate(100);
    opacity: .3;
}

.service h4 {
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.service p {
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    text-align: center;
}


/* Clients */
#clients {
    height: 100%;
    padding-bottom: 200px;
    /* background-color: #FEFEFF; */
    background-color: #12749d;
}

#clients h2 {
    justify-content: center;
    margin: 100px 0px;
    color: #fff;
}

#clients .section-content {
    height: unset;
}


#clients .imgs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

#clients .imgs-container .work-done {
    padding: 20px;
    background-color: #F1F1F1;
    border-radius: 4px;
    height: max-content;
}

#clients .imgs-container img {
    max-width: 350px;
    border-radius: 4px;
}


.calendlyBtn {
    color: var(--bblue);
    background-color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
    margin: 300px auto 0px auto;
    width: max-content;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
    transform: .2s;
    font-size: 20px;
}

.calendlyBtn:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

/* Testimonials */
#testimonials {
    background-color: #424242;
    color: #fff;
    height: max-content;
    padding-bottom: 150px;
}

#testimonials h2 {
    margin: 100px 0px;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

#testimonials h2::after {
    content: "";
    width: 100px;
    height: 5px;
    background: var(--gardient);
    margin: 0px 20px 0px 0px;
    border-radius: 4px;
}

#testimonials .swiper {
    margin: 30px 0px;
}

#testimonials .swiper-slide {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--gardient);
    border-radius: 4px;
    padding: 20px;
}

#testimonials .swiper-slide p {
    padding: 10px 0px 20px 0px;
}


#testimonials .swiper-slide h3 {
    color: rgb(0, 194, 253);
}

#testimonials .swiper-pagination {
    bottom: 50px;
}

#testimonials .swiper-button-next,
#testimonials .swiper-button-prev {
    color: rgb(0, 194, 253) !important;
    padding: 0px 80px;
}

#testimonials .swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    width: 10px;
    height: 10px;
}


/* Contact */
#contact {
    background: var(--blueCol);
}

#contact .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.information-container, .contact-form-container {
    margin-top: 200px;
}

#contact .section-content .contact-form-container {
    width: 80%;
    margin-left: 100px;
}

#contact .section-content .contact-form-container h3 {
    margin: 0px 0px 20px 5px;
    font-size: 24px;
    color: #fff;
}

#contact .section-content .contact-form-container .form div {
    display: flex;
    flex-direction: row;
}

#contact .section-content .contact-form-container input {
    width: 50%;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #F1F1F1;
    font-size: 16px;
}

#contact button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    font-weight: bold;
    float: right;
    cursor: pointer;
    width: 50%;
    margin: 5px;
    border-radius: 4px;
}

#contact .section-content .contact-form-container textarea {
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 4px;
    margin: 5px;
    border: none;
    height: 200px;
    padding: 15px;
    font-size: 16px;

}

#contact .logo-container {
    padding-bottom: 50px;
}


#contact .infodetails-container,
#contact .socials-container {
    color: #fff;
    padding-left: 15px;
}

#contact .infodetails-container a {
    margin-top: 10px;
    display: block;
    color: #F1F1F1;
    text-decoration: none;
    transform: .2s;
}

#contact .infodetails-container a:hover {
    opacity: .8;
}

#contact .socials-container {
    margin-top: 30px;
}

#contact .socials-container .socials {
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin-top: 10px;
}

#contact .socials-container .socials a i {
    margin: 0px 20px 20px 0px;
    color: #fff;
    transition: .2s;
}

#contact .socials-container .socials a i:hover {
    opacity: .8;
}

footer {
    color: #fff;
    font-weight: bold;
    padding: 20px 0px;
}

/* Responsive */

@media(max-width:1530px) {
    #clients .imgs-container img {
        max-width: 300px;
    }
}

@media(max-width:1380px) {
    #clients .imgs-container img {
        max-width: 250px;
    }
}

@media(max-width:1260px) {
    header {
        padding: 30px 50px 0px 50px;
    }

    .section-content {
        padding: 0px 50px;
    }

    .service img {
        height: 150px;
    }

    .bookConsult {
        display: none !important;
    }
}

@media(max-width:992px) {
    #hero h2 {
        font-size: 50px;
        line-height: 70px;
    }

    #hero p {
        font-size: 16px;
    }

    #about h2 {
        padding-bottom: 30px;
        flex-direction: column-reverse;
    }

    #about.section {
        height: unset;
    }

    #about .section-content {
        flex-direction: column;
        height: unset;
    }

    .nothero p {
        padding: 0px 0px 20px 0px;
    }

    .services-container {
        margin: 0px;
        flex-direction: column;
    }

    #clients h2 {
        text-align: center;
    }

    #clients .imgs-container {
        justify-content: center;
    }

    #testimonials .swiper-button-next,
    #testimonials .swiper-button-prev {
        padding: 0px;
    }

    #contact {
        height: unset;
    }

    #contact .section-content .contact-form-container h3 {
        margin-top: 100px;
    }

    #contact .section-content {
        flex-direction: column-reverse;
    }

    #contact .section-content .contact-form-container {
        width: 100%;
        margin-left: 0px;
    }

    .information-container, .contact-form-container {
        margin-top: 50px;
    }

    footer {
        padding-top: 100px;
    }
}

@media(max-width:500px) {
    header {
        padding: 30px 20px 0px 20px;
    }

    header .logo-container p {
        display: none;
    }

    #hero h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .section-content {
        padding: 0px 20px;
    }

    #clients .imgs-container img {
        max-width: 300px;
    }

    #testimonials .swiper-button-next,
    #testimonials .swiper-button-prev {
        display: none;
    }
}

@media(max-width:400px) {

    #clients .imgs-container img {
        max-width: 200px;
    }

}

.bookConsult {
    display: block;
    margin-right: 100px;
    background-color: #fff;
    color:var(--bblue);
    padding:10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}


.bookConsult:hover {
    opacity: .8;
}

